In [20]:
import pandas as pd 
import numpy as np 
import os 
import requests
import matplotlib.pyplot as plt

In [21]:
merged_data = pd.read_csv('merged_data')
merged_data

,Unnamed: 0,match_id,year_x,round_x,local,visitor,league_id,team1_id_season,team2_id_season,team1_id,...,losses_y,gf_y,ga_y,avg_y,round,pos_y,form_y,year,division,key_y
0,10,37467,2016,2,Villarreal,Espanyol,15373,214625,214629,2716,...,0.0,1,0,1.0,1,5,w,2016.0,1.0,998_2_2016_1
1,11,37471,2016,2,R. Sociedad,Real Sporting,15373,214631,214619,2120,...,0.0,0,0,0.0,1,13,d,2016.0,1.0,2125_2_2016_1
2,12,37463,2016,2,Barcelona,Málaga,15373,214620,214628,429,...,0.0,0,0,0.0,1,9,d,2016.0,1.0,1617_2_2016_1
3,13,37457,2016,2,Celta,Rayo Vallecano,15373,214627,214630,712,...,0.0,0,0,0.0,1,11,d,2016.0,1.0,2080_2_2016_1
4,14,37469,2016,2,Real Madrid,Real Betis,15373,214621,214618,2107,...,0.0,1,1,0.0,1,6,d,2016.0,1.0,486_2_2016_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4921,5047,91110,2021,38,Real Oviedo,Sabadell,57314,6382799,6382802,2115,...,15.0,35,42,-7.0,37,19,lddww,2021.0,2.0,2198_38_2021_2
4922,5048,91112,2021,38,UD Logroñés,Girona,57314,6382792,6391868,1578,...,11.0,39,34,5.0,37,6,wlwww,2021.0,2.0,1236_38_2021_2
4923,5049,91104,2021,38,FC Cartagena,CD Castellón,57314,6382787,6382788,643,...,18.0,35,43,-8.0,37,18,wlwdd,2021.0,2.0,673_38_2021_2
4924,5050,91109,2021,38,Rayo Vallecano,Leganés,57314,6382798,6382791,2080,...,11.0,41,31,10.0,37,4,wldwd,2021.0,2.0,1535_38_2021_2
4925,5051,91105,2021,38,Real Sporting,Lugo,57314,6382800,6382793,2125,...,16.0,32,49,-17.0,37,21,lllld,2021.0,2.0,1598_38_2021_2

In [22]:
merged_data.columns

Index(['Unnamed: 0', 'match_id', 'year_x', 'round_x', 'local', 'visitor',
       'league_id', 'team1_id_season', 'team2_id_season', 'team1_id',
       'team2_id', 'local_abbr', 'visitor_abbr', 'division_x', 'local_goals',
       'visitor_goals', 'result', 'winner', 'key_local', 'key_visitor', 'id_x',
       'team_x', 'points_x', 'wins_x', 'draws_x', 'losses_x', 'gf_x', 'ga_x',
       'avg_x', 'round_y', 'pos_x', 'form_x', 'year_y', 'division_y', 'key_x',
       'id_y', 'team_y', 'points_y', 'wins_y', 'draws_y', 'losses_y', 'gf_y',
       'ga_y', 'avg_y', 'round', 'pos_y', 'form_y', 'year', 'division',
       'key_y'],
      dtype='object')

When we have all data in one DataFrame, first we will delete some duplicated columns, and after, some others that are not useful anymore(keys, ids, ...)

In [23]:
merged_data['id_x'] == merged_data['team1_id']

0       True
1       True
2       True
3       True
4       True
        ...
4921    True
4922    True
4923    True
4924    True
4925    True
Length: 4926, dtype: bool

In [24]:
merged_data['team_x'] == merged_data['local']

0       True
1       True
2       True
3       True
4       True
        ...
4921    True
4922    True
4923    True
4924    True
4925    True
Length: 4926, dtype: bool

In [25]:
merged_data = merged_data.rename(columns={'points_x':'points_local', 'wins_x':'wins_local',
        'draws_x':'draws_local', 'losses_x':'losses_local', 'gf_x':'gf_local',
        'ga_x':'ga_local','avg_x':'avg_local','pos_x':'pos_local', 'form_x':'form_local', 'points_y':'points_visitor', 'wins_y':'wins_visitor',
        'draws_y':'draws_visitor', 'losses_y':'losses_visitor', 'gf_y':'gf_visitor',
        'ga_y':'ga_visitor','avg_y':'avg_visitor','pos_y':'pos_visitor', 'form_y':'form_visitor' })
merged_data.columns

Index(['Unnamed: 0', 'match_id', 'year_x', 'round_x', 'local', 'visitor',
       'league_id', 'team1_id_season', 'team2_id_season', 'team1_id',
       'team2_id', 'local_abbr', 'visitor_abbr', 'division_x', 'local_goals',
       'visitor_goals', 'result', 'winner', 'key_local', 'key_visitor', 'id_x',
       'team_x', 'points_local', 'wins_local', 'draws_local', 'losses_local',
       'gf_local', 'ga_local', 'avg_local', 'round_y', 'pos_local',
       'form_local', 'year_y', 'division_y', 'key_x', 'id_y', 'team_y',
       'points_visitor', 'wins_visitor', 'draws_visitor', 'losses_visitor',
       'gf_visitor', 'ga_visitor', 'avg_visitor', 'round', 'pos_visitor',
       'form_visitor', 'year', 'division', 'key_y'],
      dtype='object')

In [26]:
merged_data = merged_data.drop(['Unnamed: 0','year','year_y','team_x','team_y','division_y','key_x','key_local','key_visitor','id_y','key_y','id_x','round','round_y', 'division'], axis=1)

In [27]:
merged_data.columns

Index(['match_id', 'year_x', 'round_x', 'local', 'visitor', 'league_id',
       'team1_id_season', 'team2_id_season', 'team1_id', 'team2_id',
       'local_abbr', 'visitor_abbr', 'division_x', 'local_goals',
       'visitor_goals', 'result', 'winner', 'points_local', 'wins_local',
       'draws_local', 'losses_local', 'gf_local', 'ga_local', 'avg_local',
       'pos_local', 'form_local', 'points_visitor', 'wins_visitor',
       'draws_visitor', 'losses_visitor', 'gf_visitor', 'ga_visitor',
       'avg_visitor', 'pos_visitor', 'form_visitor'],
      dtype='object')

In [28]:
merged_data = merged_data.rename(columns={'round_x':'round','division_x':'division', 'year_x':'year'})

In [29]:
merged_data.columns

Index(['match_id', 'year', 'round', 'local', 'visitor', 'league_id',
       'team1_id_season', 'team2_id_season', 'team1_id', 'team2_id',
       'local_abbr', 'visitor_abbr', 'division', 'local_goals',
       'visitor_goals', 'result', 'winner', 'points_local', 'wins_local',
       'draws_local', 'losses_local', 'gf_local', 'ga_local', 'avg_local',
       'pos_local', 'form_local', 'points_visitor', 'wins_visitor',
       'draws_visitor', 'losses_visitor', 'gf_visitor', 'ga_visitor',
       'avg_visitor', 'pos_visitor', 'form_visitor'],
      dtype='object')

In [30]:
teams_id_df = merged_data.drop(['match_id', 'year', 'round', 'visitor', 'league_id',
        'team2_id_season', 'team2_id',
        'visitor_abbr', 'division', 'local_goals',
       'visitor_goals', 'result', 'winner', 'points_local',
       'wins_local', 'draws_local', 'losses_local', 'gf_local', 'ga_local',
       'avg_local', 'pos_local', 'form_local',
       'points_visitor', 'wins_visitor', 'draws_visitor', 'losses_visitor',
       'gf_visitor', 'ga_visitor', 'avg_visitor', 'pos_visitor',
       'form_visitor'] , axis = 1 )

In case we need later Ids or Abbreviatures from each team we save them in a dictionary.

In [31]:
teams_id_df = teams_id_df.reset_index(drop=True)
teams_id_df

               local  team1_id_season  team1_id local_abbr
0         Villarreal           214625      2716        VIL
1        R. Sociedad           214631      2120        RSO
2          Barcelona           214620       429        FCB
3              Celta           214627       712        CEL
4        Real Madrid           214621      2107        RMA
...              ...              ...       ...        ...
4921     Real Oviedo          6382799      2115        ROV
4922     UD Logroñés          6382792      1578        UDL
4923    FC Cartagena          6382787       643        CAR
4924  Rayo Vallecano          6382798      2080        RAY
4925   Real Sporting          6382800      2125        SPO

[4926 rows x 4 columns]

In [32]:
teams_id_dict = teams_id_df.set_index('local').T.to_dict()
teams_id_dict

<ipython-input-32-8bd1b334d7b5>:1: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  teams_id_dict = teams_id_df.set_index('local').T.to_dict()

{'Villarreal': {'team1_id_season': 6380753,
  'team1_id': 2716,
  'local_abbr': 'VIL'},
 'R. Sociedad': {'team1_id_season': 6380747,
  'team1_id': 2120,
  'local_abbr': 'RSO'},
 'Barcelona': {'team1_id_season': 6380740,
  'team1_id': 429,
  'local_abbr': 'FCB'},
 'Celta': {'team1_id_season': 6380741, 'team1_id': 712, 'local_abbr': 'CEL'},
 'Real Madrid': {'team1_id_season': 6380749,
  'team1_id': 2107,
  'local_abbr': 'RMA'},
 'Eibar': {'team1_id_season': 6380742, 'team1_id': 957, 'local_abbr': 'EIB'},
 'Valencia': {'team1_id_season': 6380752,
  'team1_id': 2647,
  'local_abbr': 'VCF'},
 'Sevilla': {'team1_id_season': 6380751,
  'team1_id': 1102,
  'local_abbr': 'SEV'},
 'Las Palmas': {'team1_id_season': 6382790,
  'team1_id': 2563,
  'local_abbr': 'UDL'},
 'Getafe': {'team1_id_season': 711285, 'team1_id': 1217, 'local_abbr': 'GET'},
 'Levante': {'team1_id_season': 711287, 'team1_id': 1547, 'local_abbr': 'LEV'},
 'Espanyol': {'team1_id_season': 6382789,
  'team1_id': 998,
  'local_abbr': 'ESP'},
 'Real Sporting': {'team1_id_season': 6382800,
  'team1_id': 2125,
  'local_abbr': 'SPO'},
 'Atlético': {'team1_id_season': 6380739,
  'team1_id': 369,
  'local_abbr': 'ATM'},
 'Real Betis': {'team1_id_season': 6380748,
  'team1_id': 486,
  'local_abbr': 'BET'},
 'Granada': {'team1_id_season': 6186821,
  'team1_id': 4235,
  'local_abbr': 'GRA'},
 'Athletic': {'team1_id_season': 6380738,
  'team1_id': 347,
  'local_abbr': 'ATH'},
 'Málaga': {'team1_id_season': 6382794, 'team1_id': 1617, 'local_abbr': 'MAL'},
 'Rayo Vallecano': {'team1_id_season': 6382798,
  'team1_id': 2080,
  'local_abbr': 'RAY'},
 'Deportivo': {'team1_id_season': 6286459,
  'team1_id': 901,
  'local_abbr': 'DEP'},
 'Osasuna': {'team1_id_season': 6186823,
  'team1_id': 1887,
  'local_abbr': 'OSA'},
 'Leganés': {'team1_id_season': 6382791,
  'team1_id': 1535,
  'local_abbr': 'LEG'},
 'Alavés': {'team1_id_season': 214639, 'team1_id': 137, 'local_abbr': 'ALA'},
 'Girona': {'team1_id_season': 6391868, 'team1_id': 1236, 'local_abbr': 'GIR'},
 'Real Valladolid': {'team1_id_season': 786063,
  'team1_id': 2654,
  'local_abbr': 'VAD'},
 'Huesca': {'team1_id_season': 6283971, 'team1_id': 1339, 'local_abbr': 'HUE'},
 'Mallorca': {'team1_id_season': 6382795,
  'team1_id': 1623,
  'local_abbr': 'MLL'},
 'Elche': {'team1_id_season': 6283322, 'team1_id': 975, 'local_abbr': 'ELC'},
 'Cádiz': {'team1_id_season': 6283321, 'team1_id': 603, 'local_abbr': 'CAD'},
 'Lugo': {'team1_id_season': 6382793, 'team1_id': 1598, 'local_abbr': 'LUG'},
 'Albacete': {'team1_id_season': 6382785,
  'team1_id': 140,
  'local_abbr': 'ALB'},
 'Real Zaragoza': {'team1_id_season': 6390092,
  'team1_id': 2136,
  'local_abbr': 'ZAR'},
 'Tenerife': {'team1_id_season': 6382801,
  'team1_id': 2477,
  'local_abbr': 'CDT'},
 'Mirandés': {'team1_id_season': 6382796,
  'team1_id': 1699,
  'local_abbr': 'MIR'},
 'Gimnàstic Tarragona': {'team1_id_season': 6186820,
  'team1_id': 1228,
  'local_abbr': 'GIM'},
 'Numancia': {'team1_id_season': 6283327,
  'team1_id': 1832,
  'local_abbr': 'NUM'},
 'Bilbao Ath.': {'team1_id_season': 220968,
  'team1_id': 348,
  'local_abbr': 'ATH'},
 'Real Oviedo': {'team1_id_season': 6382799,
  'team1_id': 2115,
  'local_abbr': 'ROV'},
 'Córdoba': {'team1_id_season': 6186819, 'team1_id': 831, 'local_abbr': 'CCF'},
 'Llagostera': {'team1_id_season': 214643,
  'team1_id': 1569,
  'local_abbr': 'LLA'},
 'Ponferradina': {'team1_id_season': 6382797,
  'team1_id': 3287,
  'local_abbr': 'PON'},
 'Almería': {'team1_id_season': 6390052, 'team1_id': 183, 'local_abbr': 'ALM'},
 'Alcorcón': {'team1_id_season': 6382786, 'team1_id': 64, 'local_abbr': 'ALC'},
 'Reus Deportiu': {'team1_id_season': 6186825,
  'team1_id': 2152,
  'local_abbr': 'REU'},
 'UCAM Murcia': {'team1_id_season': 711295,
  'team1_id': 6056,
  'local_abbr': 'UCA'},
 'Sevilla At.': {'team1_id_season': 786065,
  'team1_id': 2311,
  'local_abbr': 'SEV'},
 'Cultural Leonesa': {'team1_id_season': 786053,
  'team1_id': 877,
  'local_abbr': 'CUL'},
 'Barcelona B': {'team1_id_season': 786542,
  'team1_id': 430,
  'local_abbr': 'FCB'},
 'Lorca FC': {'team1_id_season': 786057,
  'team1_id': 6062,
  'local_abbr': 'LOR'},
 'Extremadura': {'team1_id_season': 6283323,
  'team1_id': 1026,
  'local_abbr': 'EXT'},
 'Rayo Majadahonda': {'team1_id_season': 6186830,
  'team1_id': 2078,
  'local_abbr': 'MAJ'},
 'Racing': {'team1_id_season': 6283333, 'team1_id': 2052, 'local_abbr': 'RAC'},
 'Fuenlabrada': {'team1_id_season': 6387869,
  'team1_id': 1179,
  'local_abbr': 'FUE'},
 'CD Castellón': {'team1_id_season': 6382788,
  'team1_id': 673,
  'local_abbr': 'CAS'},
 'FC Cartagena': {'team1_id_season': 6382787,
  'team1_id': 643,
  'local_abbr': 'CAR'},
 'UD Logroñés': {'team1_id_season': 6382792,
  'team1_id': 1578,
  'local_abbr': 'UDL'},
 'Sabadell': {'team1_id_season': 6382802,
  'team1_id': 2198,
  'local_abbr': 'SAB'}}

In [33]:
len(teams_id_dict)

57

In [34]:
teams_id_dict['Real Madrid']

{'team1_id_season': 6380749, 'team1_id': 2107, 'local_abbr': 'RMA'}

In [35]:
merged_data

,match_id,year,round,local,visitor,league_id,team1_id_season,team2_id_season,team1_id,team2_id,...,form_local,points_visitor,wins_visitor,draws_visitor,losses_visitor,gf_visitor,ga_visitor,avg_visitor,pos_visitor,form_visitor
0,37467,2016,2,Villarreal,Espanyol,15373,214625,214629,2716,998,...,d,3,1.0,0.0,0.0,1,0,1.0,5,w
1,37471,2016,2,R. Sociedad,Real Sporting,15373,214631,214619,2120,2125,...,d,1,0.0,1.0,0.0,0,0,0.0,13,d
2,37463,2016,2,Barcelona,Málaga,15373,214620,214628,429,1617,...,w,1,0.0,1.0,0.0,0,0,0.0,9,d
3,37457,2016,2,Celta,Rayo Vallecano,15373,214627,214630,712,2080,...,w,1,0.0,1.0,0.0,0,0,0.0,11,d
4,37469,2016,2,Real Madrid,Real Betis,15373,214621,214618,2107,486,...,d,1,0.0,1.0,0.0,1,1,0.0,6,d
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4921,91110,2021,38,Real Oviedo,Sabadell,57314,6382799,6382802,2115,2198,...,ldwld,40,9.0,13.0,15.0,35,42,-7.0,19,lddww
4922,91112,2021,38,UD Logroñés,Girona,57314,6382792,6391868,1578,1236,...,wwdld,58,16.0,10.0,11.0,39,34,5.0,6,wlwww
4923,91104,2021,38,FC Cartagena,CD Castellón,57314,6382787,6382788,643,673,...,wddwl,41,11.0,8.0,18.0,35,43,-8.0,18,wlwdd
4924,91109,2021,38,Rayo Vallecano,Leganés,57314,6382798,6382791,2080,1535,...,wlddl,62,18.0,8.0,11.0,41,31,10.0,4,wldwd
4925,91105,2021,38,Real Sporting,Lugo,57314,6382800,6382793,2125,1598,...,llldd,37,8.0,13.0,16.0,32,49,-17.0,21,lllld

### Crear variable categorica y acabar de limpiar

### Despues de crear la variable, guardar

We keep this dataset in order to be able to use it in the future to extract more information during the Feature Engineering phase. We will keep the columns that we will use for plotting and for a first approximation model.

In [36]:
merged_data.to_csv('Cleaned Data')

In [37]:
merged_data.columns

Index(['match_id', 'year', 'round', 'local', 'visitor', 'league_id',
       'team1_id_season', 'team2_id_season', 'team1_id', 'team2_id',
       'local_abbr', 'visitor_abbr', 'division', 'local_goals',
       'visitor_goals', 'result', 'winner', 'points_local', 'wins_local',
       'draws_local', 'losses_local', 'gf_local', 'ga_local', 'avg_local',
       'pos_local', 'form_local', 'points_visitor', 'wins_visitor',
       'draws_visitor', 'losses_visitor', 'gf_visitor', 'ga_visitor',
       'avg_visitor', 'pos_visitor', 'form_visitor'],
      dtype='object')

### Borrar todas las columans que no usamos para plotear

In [42]:
plotting_data = merged_data.drop(['match_id','local', 'visitor','league_id',
       'team1_id_season', 'team2_id_season', 'team1_id', 'team2_id',
       'local_abbr', 'visitor_abbr','result'], axis=1)

In [43]:
plotting_data.columns

Index(['year', 'round', 'division_x', 'local_goals', 'visitor_goals', 'winner',
       'points_local', 'wins_local', 'draws_local', 'losses_local', 'gf_local',
       'ga_local', 'avg_local', 'pos_local', 'form_local', 'points_visitor',
       'wins_visitor', 'draws_visitor', 'losses_visitor', 'gf_visitor',
       'ga_visitor', 'avg_visitor', 'pos_visitor', 'form_visitor'],
      dtype='object')