# Introducing data

In [54]:
import pandas as pd 
import numpy as np 
import os 
import requests
import json
import matplotlib.pyplot as plt
import seaborn as sns

At first, we request all necessary data, that is, every match result from La Liga Santander & La Liga Smartbank in the last 5 years. This request is done through BeSoccer API.

# Matches Request

In [55]:
#Todas las jornadas (38) primera division y segunda division españolas 2018-2021
for league_division in range(1, 3):
    for league_season in range(2016, 2022):
        for league_round in range(1, 39):
            print(league_division, league_round, league_season)
            matches_url = f"https://apiclient.besoccerapps.com/scripts/api/api.php?key=023afbc77c5610fefc3fc8976e451752&tz=Europe/Madrid&format=json&req=matchs&league={league_division}&round={league_round}&order=twin&twolegged=1&year={league_season}"
            response = requests.get(matches_url)
            result = json.loads(response.content)
            if league_round == 1 and league_division == 1 and league_season == 2016:
                df1 = pd.DataFrame(result['match'])
            else:
                df1 = df1.append(result['match'])

1 1 2016
1 2 2016
1 3 2016
1 4 2016
1 5 2016
1 6 2016
1 7 2016
1 8 2016
1 9 2016
1 10 2016
1 11 2016
1 12 2016
1 13 2016
1 14 2016
1 15 2016
1 16 2016
1 17 2016
1 18 2016
1 19 2016
1 20 2016
1 21 2016
1 22 2016
1 23 2016
1 24 2016
1 25 2016
1 26 2016
1 27 2016
1 28 2016
1 29 2016
1 30 2016
1 31 2016
1 32 2016
1 33 2016
1 34 2016
1 35 2016
1 36 2016
1 37 2016
1 38 2016
1 1 2017
1 2 2017
1 3 2017
1 4 2017
1 5 2017
1 6 2017
1 7 2017
1 8 2017
1 9 2017
1 10 2017
1 11 2017
1 12 2017
1 13 2017
1 14 2017
1 15 2017
1 16 2017
1 17 2017
1 18 2017
1 19 2017
1 20 2017
1 21 2017
1 22 2017
1 23 2017
1 24 2017
1 25 2017
1 26 2017
1 27 2017
1 28 2017
1 29 2017
1 30 2017
1 31 2017
1 32 2017
1 33 2017
1 34 2017
1 35 2017
1 36 2017
1 37 2017
1 38 2017
1 1 2018
1 2 2018
1 3 2018
1 4 2018
1 5 2018
1 6 2018
1 7 2018
1 8 2018
1 9 2018
1 10 2018
1 11 2018
1 12 2018
1 13 2018
1 14 2018
1 15 2018
1 16 2018
1 17 2018
1 18 2018
1 19 2018
1 20 2018
1 21 2018
1 22 2018
1 23 2018
1 24 2018
1 25 2018
1 26 2018
1 27 2018
1 28 2018
1 29 2018
1 30 2018
1 31 2018
1 32 2018
1 33 2018
1 34 2018
1 35 2018
1 36 2018
1 37 2018
1 38 2018
1 1 2019
1 2 2019
1 3 2019
1 4 2019
1 5 2019
1 6 2019
1 7 2019
1 8 2019
1 9 2019
1 10 2019
1 11 2019
1 12 2019
1 13 2019
1 14 2019
1 15 2019
1 16 2019
1 17 2019
1 18 2019
1 19 2019
1 20 2019
1 21 2019
1 22 2019
1 23 2019
1 24 2019
1 25 2019
1 26 2019
1 27 2019
1 28 2019
1 29 2019
1 30 2019
1 31 2019
1 32 2019
1 33 2019
1 34 2019
1 35 2019
1 36 2019
1 37 2019
1 38 2019
1 1 2020
1 2 2020
1 3 2020
1 4 2020
1 5 2020
1 6 2020
1 7 2020
1 8 2020
1 9 2020
1 10 2020
1 11 2020
1 12 2020
1 13 2020
1 14 2020
1 15 2020
1 16 2020
1 17 2020
1 18 2020
1 19 2020
1 20 2020
1 21 2020
1 22 2020
1 23 2020
1 24 2020
1 25 2020
1 26 2020
1 27 2020
1 28 2020
1 29 2020
1 30 2020
1 31 2020
1 32 2020
1 33 2020
1 34 2020
1 35 2020
1 36 2020
1 37 2020
1 38 2020
1 1 2021
1 2 2021
1 3 2021
1 4 2021
1 5 2021
1 6 2021
1 7 2021
1 8 2021
1 9 2021
1 10 2021
1 11 2021
1 12 2021
1 13 2021
1 14 2021
1 15 2021
1 16 2021
1 17 2021
1 18 2021
1 19 2021
1 20 2021
1 21 2021
1 22 2021
1 23 2021
1 24 2021
1 25 2021
1 26 2021
1 27 2021
1 28 2021
1 29 2021
1 30 2021
1 31 2021
1 32 2021
1 33 2021
1 34 2021
1 35 2021
1 36 2021
1 37 2021
1 38 2021
2 1 2016
2 2 2016
2 3 2016
2 4 2016
2 5 2016
2 6 2016
2 7 2016
2 8 2016
2 9 2016
2 10 2016
2 11 2016
2 12 2016
2 13 2016
2 14 2016
2 15 2016
2 16 2016
2 17 2016
2 18 2016
2 19 2016
2 20 2016
2 21 2016
2 22 2016
2 23 2016
2 24 2016
2 25 2016
2 26 2016
2 27 2016
2 28 2016
2 29 2016
2 30 2016
2 31 2016
2 32 2016
2 33 2016
2 34 2016
2 35 2016
2 36 2016
2 37 2016
2 38 2016
2 1 2017
2 2 2017
2 3 2017
2 4 2017
2 5 2017
2 6 2017
2 7 2017
2 8 2017
2 9 2017
2 10 2017
2 11 2017
2 12 2017
2 13 2017
2 14 2017
2 15 2017
2 16 2017
2 17 2017
2 18 2017
2 19 2017
2 20 2017
2 21 2017
2 22 2017
2 23 2017
2 24 2017
2 25 2017
2 26 2017
2 27 2017
2 28 2017
2 29 2017
2 30 2017
2 31 2017
2 32 2017
2 33 2017
2 34 2017
2 35 2017
2 36 2017
2 37 2017
2 38 2017
2 1 2018
2 2 2018
2 3 2018
2 4 2018
2 5 2018
2 6 2018
2 7 2018
2 8 2018
2 9 2018
2 10 2018
2 11 2018
2 12 2018
2 13 2018
2 14 2018
2 15 2018
2 16 2018
2 17 2018
2 18 2018
2 19 2018
2 20 2018
2 21 2018
2 22 2018
2 23 2018
2 24 2018
2 25 2018
2 26 2018
2 27 2018
2 28 2018
2 29 2018
2 30 2018
2 31 2018
2 32 2018
2 33 2018
2 34 2018
2 35 2018
2 36 2018
2 37 2018
2 38 2018
2 1 2019
2 2 2019
2 3 2019
2 4 2019
2 5 2019
2 6 2019
2 7 2019
2 8 2019
2 9 2019
2 10 2019
2 11 2019
2 12 2019
2 13 2019
2 14 2019
2 15 2019
2 16 2019
2 17 2019
2 18 2019
2 19 2019
2 20 2019
2 21 2019
2 22 2019
2 23 2019
2 24 2019
2 25 2019
2 26 2019
2 27 2019
2 28 2019
2 29 2019
2 30 2019
2 31 2019
2 32 2019
2 33 2019
2 34 2019
2 35 2019
2 36 2019
2 37 2019
2 38 2019
2 1 2020
2 2 2020
2 3 2020
2 4 2020
2 5 2020
2 6 2020
2 7 2020
2 8 2020
2 9 2020
2 10 2020
2 11 2020
2 12 2020
2 13 2020
2 14 2020
2 15 2020
2 16 2020
2 17 2020
2 18 2020
2 19 2020
2 20 2020
2 21 2020
2 22 2020
2 23 2020
2 24 2020
2 25 2020
2 26 2020
2 27 2020
2 28 2020
2 29 2020
2 30 2020
2 31 2020
2 32 2020
2 33 2020
2 34 2020
2 35 2020
2 36 2020
2 37 2020
2 38 2020
2 1 2021
2 2 2021
2 3 2021
2 4 2021
2 5 2021
2 6 2021
2 7 2021
2 8 2021
2 9 2021
2 10 2021
2 11 2021
2 12 2021
2 13 2021
2 14 2021
2 15 2021
2 16 2021
2 17 2021
2 18 2021
2 19 2021
2 20 2021
2 21 2021
2 22 2021
2 23 2021
2 24 2021
2 25 2021
2 26 2021
2 27 2021
2 28 2021
2 29 2021
2 30 2021
2 31 2021
2 32 2021
2 33 2021
2 34 2021
2 35 2021
2 36 2021
2 37 2021
2 38 2021

In [56]:
df1

,id,year,group,total_group,round,local,visitor,league_id,stadium,team1,...,visitor_goals,result,live_minute,status,channels,winner,penaltis1,penaltis2,prorroga,stadium2
0,37429,2016,1,1,1,Málaga,Sevilla,15373,La Rosaleda,214628,...,0,0-0,,1,"[{'id': '41', 'name': 'C+ Liga', 'image': 'htt...",0,0,0,False,NaN
1,37433,2016,1,1,1,Deportivo,R. Sociedad,15373,Municipal Riazor,214634,...,0,0-0,,1,"[{'id': '41', 'name': 'C+ Liga', 'image': 'htt...",0,0,0,False,NaN
2,37432,2016,1,1,1,Espanyol,Getafe,15373,RCDE Stadium,214629,...,0,1-0,,1,"[{'id': '128', 'name': 'C+ Liga Multi', 'image...",214629,0,0,False,NaN
3,37437,2016,1,1,1,Atlético,Las Palmas,15373,Wanda Metropolitano,214622,...,0,1-0,,1,"[{'id': '41', 'name': 'C+ Liga', 'image': 'htt...",214622,0,0,False,NaN
4,37430,2016,1,1,1,Rayo Vallecano,Valencia,15373,Vallecas,214630,...,0,0-0,,1,"[{'id': '41', 'name': 'C+ Liga', 'image': 'htt...",0,0,0,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6,91110,2021,1,1,38,Real Oviedo,Sabadell,57314,Carlos Tartiere,6382799,...,1,2-1,,1,"[{'id': '325', 'name': 'M. LaLiga', 'image': '...",6382799,0,0,False,NaN
7,91104,2021,1,1,38,FC Cartagena,CD Castellón,57314,Municipal Cartagonova,6382787,...,0,1-0,,1,"[{'id': '325', 'name': 'M. LaLiga', 'image': '...",6382787,0,0,False,NaN
8,91112,2021,1,1,38,UD Logroñés,Girona,57314,Las Gaunas,6382792,...,4,1-4,,1,"[{'id': '325', 'name': 'M. LaLiga', 'image': '...",6391868,0,0,False,NaN
9,91109,2021,1,1,38,Rayo Vallecano,Leganés,57314,Vallecas,6382798,...,1,1-1,,1,"[{'id': '303', 'name': '#Vamos', 'image': 'htt...",0,0,0,False,NaN
10,91105,2021,1,1,38,Real Sporting,Lugo,57314,El Molinón-Enrique Castro Quini,6382800,...,0,1-0,,1,"[{'id': '325', 'name': 'M. LaLiga', 'image': '...",6382800,0,0,False,NaN

We realise that we need to add for La Liga Smartbank four more rounds, as this division has two more teams, there are 42 rounds instead of 38.

In [57]:
for league_season in range(2016, 2022):
    for league_round in range(39, 43):
        smartbank_extraround_url = f"https://apiclient.besoccerapps.com/scripts/api/api.php?key=023afbc77c5610fefc3fc8976e451752&tz=Europe/Madrid&format=json&req=matchs&league=2&round={league_round}&order=twin&twolegged=1&year={league_season}"
        response_extra = requests.get(smartbank_extraround_url)
        result_extra = json.loads(response_extra.content)
        df1 = df1.append(result['match'])

In [58]:
df1.columns

Index(['id', 'year', 'group', 'total_group', 'round', 'local', 'visitor',
       'league_id', 'stadium', 'team1', 'team2', 'conference', 'dteam1',
       'dteam2', 'numc', 'no_hour', 'local_abbr', 'visitor_abbr', 'isVideo',
       'numVideos', 'competition_name', 'competition_id', 'split_league',
       'type', 'type_id', 'playoffs', 'group_code', 'total_rounds', 'coef',
       'cflag_local', 'cflag_visitor', 'local_shield', 'visitor_shield',
       'extraTxt', 'schedule', 'date', 'hour', 'minute', 'local_goals',
       'visitor_goals', 'result', 'live_minute', 'status', 'channels',
       'winner', 'penaltis1', 'penaltis2', 'prorroga', 'stadium2'],
      dtype='object')

We drop out the columns that we evidently don´t need, and will re-evaluate later the remaining ones.

In [59]:
df2 = df1.drop(['stadium', 'group', 'total_group', 'no_hour', 'status', 'isVideo', 'playoffs', 'penaltis1', 'penaltis2', 'prorroga', 'stadium2', 'channels','hour','minute', 'extraTxt', 'cflag_local', 'cflag_visitor','conference','local_shield', 'visitor_shield', 'schedule', 'total_rounds', 'type_id', 'type', 'split_league', 'live_minute', 'numVideos', 'no_hour', 'numc'] , axis = 1 )

In [102]:
df2['dteam1']

0     1617
1      901
2      998
3      369
4     2080
      ...
6     2115
7      643
8     1578
9     2080
10    2125
Name: team1_id, Length: 5052, dtype: object

In [103]:
dteam_meaning = df2['dteam1'] == '1535'
dteam_meaning.head()

KeyError: 'dteam1'

In [64]:
dteam_1535 = df2[dteam_meaning]
dteam_1535.tail()

,id,year,round,local,visitor,league_id,team1,team2,dteam1,dteam2,...,visitor_abbr,competition_name,competition_id,group_code,coef,date,local_goals,visitor_goals,result,winner
2,90646,2021,28,Leganés,CD Castellón,57314,6382791,6382788,1535,673,...,CAS,Segunda División,2,1,58.462,2021/03/06,0,0,0-0,0
3,90667,2021,30,Leganés,Fuenlabrada,57314,6382791,6387869,1535,1179,...,FUE,Segunda División,2,1,58.462,2021/03/20,0,2,0-2,6387869
7,91056,2021,33,Leganés,Sabadell,57314,6382791,6382802,1535,2198,...,SAB,Segunda División,2,1,58.462,2021/04/04,2,1,2-1,6382791
9,91078,2021,35,Leganés,Ponferradina,57314,6382791,6382797,1535,3287,...,PON,Segunda División,2,1,58.462,2021/04/19,1,1,1-1,0
6,91099,2021,37,Leganés,Real Sporting,57314,6382791,6382800,1535,2125,...,SPO,Segunda División,2,1,58.462,2021/05/02,0,0,0-0,0

We realise that 'dteam' columns are identifyers for teams, but also 'team1' and 'team 2'. Researching into API documentation we find out the difference, 'team' is an identifyer of the team only for that season and  'dteam' is the unique team identifyer for all the seasons and competitions. For the moment we remain these columns. 


#### For any other user doubts, here you can check the documentation with the meanings of each column: https://company.besoccer.com/api/documentacion/matchs

# Standings Request

In order to increase the information in the dataset, we make another request for the standings previous to the match, if fits succesfully, we join it to our dataframe.

In [65]:
for league_division in range(1, 3):
    for league_season in range(2016, 2022):
        for league_round in range(1, 39):
            standings_url = f"https://apiclient.besoccerapps.com/scripts/api/api.php?key=023afbc77c5610fefc3fc8976e451752&tz=Europe/Madrid&format=json&req=tables&league={league_division}&round={league_round}&year={league_season}"
            response_standings = requests.get(standings_url)
            result_standings = json.loads(response_standings.content)
            if league_round == 1 and league_division == 1 and league_season == 2016:
                df3 = pd.DataFrame(result_standings['table'])
            else:
                df3 = df3.append(result_standings['table'])

In [66]:
df3

,id,group,group_name,conference,team,points,wins,draws,losses,shield,...,coef,coefficients,mark,class_mark,round,pos,countrycode,abbr,form,direction
0,957,1,,0,Eibar,3,1,0,0,https://thumb.resfu.com/img_data/escudos/mediu...,...,,None,1,cha,1,1,ES,EIB,w,
1,712,1,,0,Celta,3,1,0,0,https://thumb.resfu.com/img_data/escudos/mediu...,...,,None,1,cha,1,2,ES,CEL,w,
2,369,1,,0,Atlético,3,1,0,0,https://thumb.resfu.com/img_data/escudos/mediu...,...,,None,1,cha,1,3,ES,ATM,w,
3,429,1,,0,Barcelona,3,1,0,0,https://thumb.resfu.com/img_data/escudos/mediu...,...,,None,2,prev,1,4,ES,FCB,w,
4,998,1,,0,Espanyol,3,1,0,0,https://thumb.resfu.com/img_data/escudos/mediu...,...,,None,3,uefa,1,5,ES,ESP,w,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17,673,1,,0,CD Castellón,41,11,8,19,https://thumb.resfu.com/img_data/escudos/mediu...,...,,None,,,38,18,ES,CAS,lwddl,
18,1578,1,,0,UD Logroñés,41,10,11,17,https://thumb.resfu.com/img_data/escudos/mediu...,...,,None,3,desc,38,19,ES,UDL,wdldl,d
19,2198,1,,0,Sabadell,40,9,13,16,https://thumb.resfu.com/img_data/escudos/mediu...,...,,None,3,desc,38,20,ES,SAB,ddwwl,d
20,1598,1,,0,Lugo,37,8,13,17,https://thumb.resfu.com/img_data/escudos/mediu...,...,,None,3,desc,38,21,ES,LUG,llldl,
21,140,1,,0,Albacete,36,9,9,20,https://thumb.resfu.com/img_data/escudos/mediu...,...,,None,3,desc,38,22,ES,ALB,lwdlw,

In [67]:
df3.columns

Index(['id', 'group', 'group_name', 'conference', 'team', 'points', 'wins',
       'draws', 'losses', 'shield', 'cflag', 'basealias', 'gf', 'ga', 'avg',
       'matchs_coef', 'points_coef', 'coef', 'coefficients', 'mark',
       'class_mark', 'round', 'pos', 'countrycode', 'abbr', 'form',
       'direction'],
      dtype='object')

In [68]:
df3 = df3.drop(['group', 'group_name', 'conference', 'shield', 'cflag', 'basealias',
       'matchs_coef', 'points_coef', 'coef', 'coefficients', 'mark',
       'class_mark', 'countrycode', 'abbr',
       'direction'] , axis = 1 )

In [69]:
df3

,id,team,points,wins,draws,losses,gf,ga,avg,round,pos,form
0,957,Eibar,3,1,0,0,3,1,2,1,1,w
1,712,Celta,3,1,0,0,2,1,1,1,2,w
2,369,Atlético,3,1,0,0,1,0,1,1,3,w
3,429,Barcelona,3,1,0,0,1,0,1,1,4,w
4,998,Espanyol,3,1,0,0,1,0,1,1,5,w
...,...,...,...,...,...,...,...,...,...,...,...,...
17,673,CD Castellón,41,11,8,19,35,44,-9,38,18,lwddl
18,1578,UD Logroñés,41,10,11,17,26,47,-21,38,19,wdldl
19,2198,Sabadell,40,9,13,16,36,44,-8,38,20,ddwwl
20,1598,Lugo,37,8,13,17,32,50,-18,38,21,llldl
21,140,Albacete,36,9,9,20,25,46,-21,38,22,lwdlw

In [70]:
df3.tail()

,id,team,points,wins,draws,losses,gf,ga,avg,round,pos,form
17,673,CD Castellón,41,11,8,19,35,44,-9,38,18,lwddl
18,1578,UD Logroñés,41,10,11,17,26,47,-21,38,19,wdldl
19,2198,Sabadell,40,9,13,16,36,44,-8,38,20,ddwwl
20,1598,Lugo,37,8,13,17,32,50,-18,38,21,llldl
21,140,Albacete,36,9,9,20,25,46,-21,38,22,lwdlw

There is some information left in this request that we need to be able to do de merge with the DataFrame created by Matches request. This time we increment directly the number of rounds, taking into account that LaLiga Smartbank has more teams.

In [71]:
for league_division in range(1, 3):
    for league_season in range(2016, 2022):
        for round_num in range(1, 43):
            standings_url_bis = f"https://apiclient.besoccerapps.com/scripts/api/api.php?key=023afbc77c5610fefc3fc8976e451752&tz=Europe/Madrid&format=json&req=tables&league={league_division}&round={round_num}&year={league_season}"
            response_standings_bis = requests.get(standings_url_bis)
            result_standings_bis = json.loads(response_standings_bis.content)
            if league_division == 1 and league_season == 2016 and round_num == 1:
                df4 = pd.DataFrame(result_standings_bis['table'])
                df4['year'] = league_season
                df4['division'] = league_division
            else:
                df4_bis = pd.DataFrame(result_standings_bis['table'])
                df4_bis['year'] = league_season
                df4_bis['division'] = league_division
                df4 = pd.concat([df4, df4_bis])

In [104]:
df4.head(5)

,id,team,points,wins,draws,losses,gf,ga,avg,round,pos,form,year,division,key
0,957,Eibar,3,1.0,0.0,0.0,3,1,2.0,1,1,w,2016,1,957_2_2016_1
1,712,Celta,3,1.0,0.0,0.0,2,1,1.0,1,2,w,2016,1,712_2_2016_1
2,369,Atlético,3,1.0,0.0,0.0,1,0,1.0,1,3,w,2016,1,369_2_2016_1
3,429,Barcelona,3,1.0,0.0,0.0,1,0,1.0,1,4,w,2016,1,429_2_2016_1
4,998,Espanyol,3,1.0,0.0,0.0,1,0,1.0,1,5,w,2016,1,998_2_2016_1

In [73]:
df4 = df4.drop(['group', 'group_name', 'conference', 'shield', 'cflag', 'basealias',
       'matchs_coef', 'points_coef', 'coef', 'coefficients', 'mark',
       'class_mark', 'countrycode', 'abbr',
       'direction'] , axis = 1 )

In [74]:
df4.tail()

,id,team,points,wins,draws,losses,gf,ga,avg,round,pos,form,year,division
17,1598,Lugo,47,11.0,14.0,17.0,38,53,-15.0,42,18,lwdww,2021,2
18,2198,Sabadell,46,11.0,13.0,18.0,40,48,-8.0,42,19,lllww,2021,2
19,1578,UD Logroñés,44,11.0,11.0,20.0,28,53,-25.0,42,20,llwll,2021,2
20,673,CD Castellón,41,11.0,8.0,23.0,35,54,-19.0,42,21,lllll,2021,2
21,140,Albacete,38,9.0,11.0,22.0,30,53,-23.0,42,22,wddll,2021,2

In [75]:
df4['key'] = df4['id'].astype(str) + "_" + df4['round'].apply(lambda x: int(x) + 1).astype(str) + "_" + df4['year'].astype(str) + "_" + df4['division'].astype(str)

In [76]:
df4

,id,team,points,wins,draws,losses,gf,ga,avg,round,pos,form,year,division,key
0,957,Eibar,3,1.0,0.0,0.0,3,1,2.0,1,1,w,2016,1,957_2_2016_1
1,712,Celta,3,1.0,0.0,0.0,2,1,1.0,1,2,w,2016,1,712_2_2016_1
2,369,Atlético,3,1.0,0.0,0.0,1,0,1.0,1,3,w,2016,1,369_2_2016_1
3,429,Barcelona,3,1.0,0.0,0.0,1,0,1.0,1,4,w,2016,1,429_2_2016_1
4,998,Espanyol,3,1.0,0.0,0.0,1,0,1.0,1,5,w,2016,1,998_2_2016_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17,1598,Lugo,47,11.0,14.0,17.0,38,53,-15.0,42,18,lwdww,2021,2,1598_43_2021_2
18,2198,Sabadell,46,11.0,13.0,18.0,40,48,-8.0,42,19,lllww,2021,2,2198_43_2021_2
19,1578,UD Logroñés,44,11.0,11.0,20.0,28,53,-25.0,42,20,llwll,2021,2,1578_43_2021_2
20,673,CD Castellón,41,11.0,8.0,23.0,35,54,-19.0,42,21,lllll,2021,2,673_43_2021_2
21,140,Albacete,38,9.0,11.0,22.0,30,53,-23.0,42,22,wddll,2021,2,140_43_2021_2

We proceed now to create the same key column in the DataFrame related to the 'matches' and merge both dataframes

In [77]:
df2

,id,year,round,local,visitor,league_id,team1,team2,dteam1,dteam2,...,visitor_abbr,competition_name,competition_id,group_code,coef,date,local_goals,visitor_goals,result,winner
0,37429,2016,1,Málaga,Sevilla,15373,214628,214624,1617,1102,...,SEV,Primera División,1,1,76.000,2015/08/21,0,0,0-0,0
1,37433,2016,1,Deportivo,R. Sociedad,15373,214634,214631,901,2120,...,RSO,Primera División,1,1,76.000,2015/08/22,0,0,0-0,0
2,37432,2016,1,Espanyol,Getafe,15373,214629,214633,998,1217,...,GET,Primera División,1,1,76.000,2015/08/22,1,0,1-0,214629
3,37437,2016,1,Atlético,Las Palmas,15373,214622,218388,369,2563,...,UDL,Primera División,1,1,76.000,2015/08/22,1,0,1-0,214622
4,37430,2016,1,Rayo Vallecano,Valencia,15373,214630,214623,2080,2647,...,VCF,Primera División,1,1,76.000,2015/08/22,0,0,0-0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6,91110,2021,38,Real Oviedo,Sabadell,57314,6382799,6382802,2115,2198,...,SAB,Segunda División,2,1,58.462,2021/05/09,2,1,2-1,6382799
7,91104,2021,38,FC Cartagena,CD Castellón,57314,6382787,6382788,643,673,...,CAS,Segunda División,2,1,58.462,2021/05/09,1,0,1-0,6382787
8,91112,2021,38,UD Logroñés,Girona,57314,6382792,6391868,1578,1236,...,GIR,Segunda División,2,1,58.462,2021/05/09,1,4,1-4,6391868
9,91109,2021,38,Rayo Vallecano,Leganés,57314,6382798,6382791,2080,1535,...,LEG,Segunda División,2,1,58.462,2021/05/10,1,1,1-1,0
10,91105,2021,38,Real Sporting,Lugo,57314,6382800,6382793,2125,1598,...,LUG,Segunda División,2,1,58.462,2021/05/10,1,0,1-0,6382800

In [78]:
df2.columns

Index(['id', 'year', 'round', 'local', 'visitor', 'league_id', 'team1',
       'team2', 'dteam1', 'dteam2', 'local_abbr', 'visitor_abbr',
       'competition_name', 'competition_id', 'group_code', 'coef', 'date',
       'local_goals', 'visitor_goals', 'result', 'winner'],
      dtype='object')

In [79]:
df2 = df2.rename(columns={'id':'match_id', 'team1':'team1_id_season', 'team2':'team2_id_season','dteam1':'team1_id', 'dteam2':'team2_id', 'competition_id':'division'})

In [80]:
df2.columns

Index(['match_id', 'year', 'round', 'local', 'visitor', 'league_id',
       'team1_id_season', 'team2_id_season', 'team1_id', 'team2_id',
       'local_abbr', 'visitor_abbr', 'competition_name', 'division',
       'group_code', 'coef', 'date', 'local_goals', 'visitor_goals', 'result',
       'winner'],
      dtype='object')

In [81]:
df2 = df2.drop(['league_id','group_code', 'coef', 'date', 'competition_name'], axis = 1)

In [82]:
df2

,match_id,year,round,local,visitor,team1_id_season,team2_id_season,team1_id,team2_id,local_abbr,visitor_abbr,division,local_goals,visitor_goals,result,winner
0,37429,2016,1,Málaga,Sevilla,214628,214624,1617,1102,MAL,SEV,1,0,0,0-0,0
1,37433,2016,1,Deportivo,R. Sociedad,214634,214631,901,2120,DEP,RSO,1,0,0,0-0,0
2,37432,2016,1,Espanyol,Getafe,214629,214633,998,1217,ESP,GET,1,1,0,1-0,214629
3,37437,2016,1,Atlético,Las Palmas,214622,218388,369,2563,ATM,UDL,1,1,0,1-0,214622
4,37430,2016,1,Rayo Vallecano,Valencia,214630,214623,2080,2647,RAY,VCF,1,0,0,0-0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6,91110,2021,38,Real Oviedo,Sabadell,6382799,6382802,2115,2198,ROV,SAB,2,2,1,2-1,6382799
7,91104,2021,38,FC Cartagena,CD Castellón,6382787,6382788,643,673,CAR,CAS,2,1,0,1-0,6382787
8,91112,2021,38,UD Logroñés,Girona,6382792,6391868,1578,1236,UDL,GIR,2,1,4,1-4,6391868
9,91109,2021,38,Rayo Vallecano,Leganés,6382798,6382791,2080,1535,RAY,LEG,2,1,1,1-1,0
10,91105,2021,38,Real Sporting,Lugo,6382800,6382793,2125,1598,SPO,LUG,2,1,0,1-0,6382800

In [83]:
df2['key_local'] = df2['team1_id'].astype(str) + "_" + df2['round'].astype(str) + "_" + df2['year'].astype(str) + "_" + df2['division'].astype(str)
df2['key_visitor'] = df2['team2_id'].astype(str) + "_" + df2['round'].astype(str) + "_" + df2['year'].astype(str) + "_" + df2['division'].astype(str)

In [84]:
df2

,match_id,year,round,local,visitor,team1_id_season,team2_id_season,team1_id,team2_id,local_abbr,visitor_abbr,division,local_goals,visitor_goals,result,winner,key_local,key_visitor
0,37429,2016,1,Málaga,Sevilla,214628,214624,1617,1102,MAL,SEV,1,0,0,0-0,0,1617_1_2016_1,1102_1_2016_1
1,37433,2016,1,Deportivo,R. Sociedad,214634,214631,901,2120,DEP,RSO,1,0,0,0-0,0,901_1_2016_1,2120_1_2016_1
2,37432,2016,1,Espanyol,Getafe,214629,214633,998,1217,ESP,GET,1,1,0,1-0,214629,998_1_2016_1,1217_1_2016_1
3,37437,2016,1,Atlético,Las Palmas,214622,218388,369,2563,ATM,UDL,1,1,0,1-0,214622,369_1_2016_1,2563_1_2016_1
4,37430,2016,1,Rayo Vallecano,Valencia,214630,214623,2080,2647,RAY,VCF,1,0,0,0-0,0,2080_1_2016_1,2647_1_2016_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6,91110,2021,38,Real Oviedo,Sabadell,6382799,6382802,2115,2198,ROV,SAB,2,2,1,2-1,6382799,2115_38_2021_2,2198_38_2021_2
7,91104,2021,38,FC Cartagena,CD Castellón,6382787,6382788,643,673,CAR,CAS,2,1,0,1-0,6382787,643_38_2021_2,673_38_2021_2
8,91112,2021,38,UD Logroñés,Girona,6382792,6391868,1578,1236,UDL,GIR,2,1,4,1-4,6391868,1578_38_2021_2,1236_38_2021_2
9,91109,2021,38,Rayo Vallecano,Leganés,6382798,6382791,2080,1535,RAY,LEG,2,1,1,1-1,0,2080_38_2021_2,1535_38_2021_2
10,91105,2021,38,Real Sporting,Lugo,6382800,6382793,2125,1598,SPO,LUG,2,1,0,1-0,6382800,2125_38_2021_2,1598_38_2021_2

In [85]:
df2.tail()

,match_id,year,round,local,visitor,team1_id_season,team2_id_season,team1_id,team2_id,local_abbr,visitor_abbr,division,local_goals,visitor_goals,result,winner,key_local,key_visitor
6,91110,2021,38,Real Oviedo,Sabadell,6382799,6382802,2115,2198,ROV,SAB,2,2,1,2-1,6382799,2115_38_2021_2,2198_38_2021_2
7,91104,2021,38,FC Cartagena,CD Castellón,6382787,6382788,643,673,CAR,CAS,2,1,0,1-0,6382787,643_38_2021_2,673_38_2021_2
8,91112,2021,38,UD Logroñés,Girona,6382792,6391868,1578,1236,UDL,GIR,2,1,4,1-4,6391868,1578_38_2021_2,1236_38_2021_2
9,91109,2021,38,Rayo Vallecano,Leganés,6382798,6382791,2080,1535,RAY,LEG,2,1,1,1-1,0,2080_38_2021_2,1535_38_2021_2
10,91105,2021,38,Real Sporting,Lugo,6382800,6382793,2125,1598,SPO,LUG,2,1,0,1-0,6382800,2125_38_2021_2,1598_38_2021_2

In [86]:
df5 = df2.merge(df4, how = 'left', left_on = 'key_local', right_on = 'key' )
df5

,match_id,year_x,round_x,local,visitor,team1_id_season,team2_id_season,team1_id,team2_id,local_abbr,...,losses,gf,ga,avg,round_y,pos,form,year_y,division_y,key
0,37429,2016,1,Málaga,Sevilla,214628,214624,1617,1102,MAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,37433,2016,1,Deportivo,R. Sociedad,214634,214631,901,2120,DEP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,37432,2016,1,Espanyol,Getafe,214629,214633,998,1217,ESP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,37437,2016,1,Atlético,Las Palmas,214622,218388,369,2563,ATM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,37430,2016,1,Rayo Vallecano,Valencia,214630,214623,2080,2647,RAY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5047,91110,2021,38,Real Oviedo,Sabadell,6382799,6382802,2115,2198,ROV,...,11.0,38,38,0.0,37,14,ldwld,2021.0,2.0,2115_38_2021_2
5048,91104,2021,38,FC Cartagena,CD Castellón,6382787,6382788,643,673,CAR,...,16.0,36,47,-11.0,37,20,wddwl,2021.0,2.0,643_38_2021_2
5049,91112,2021,38,UD Logroñés,Girona,6382792,6391868,1578,1236,UDL,...,16.0,25,43,-18.0,37,17,wwdld,2021.0,2.0,1578_38_2021_2
5050,91109,2021,38,Rayo Vallecano,Leganés,6382798,6382791,2080,1535,RAY,...,12.0,43,36,7.0,37,7,wlddl,2021.0,2.0,2080_38_2021_2
5051,91105,2021,38,Real Sporting,Lugo,6382800,6382793,2125,1598,SPO,...,9.0,35,25,10.0,37,5,llldd,2021.0,2.0,2125_38_2021_2

In [87]:
df5.tail()

,match_id,year_x,round_x,local,visitor,team1_id_season,team2_id_season,team1_id,team2_id,local_abbr,...,losses,gf,ga,avg,round_y,pos,form,year_y,division_y,key
5047,91110,2021,38,Real Oviedo,Sabadell,6382799,6382802,2115,2198,ROV,...,11.0,38,38,0.0,37,14,ldwld,2021.0,2.0,2115_38_2021_2
5048,91104,2021,38,FC Cartagena,CD Castellón,6382787,6382788,643,673,CAR,...,16.0,36,47,-11.0,37,20,wddwl,2021.0,2.0,643_38_2021_2
5049,91112,2021,38,UD Logroñés,Girona,6382792,6391868,1578,1236,UDL,...,16.0,25,43,-18.0,37,17,wwdld,2021.0,2.0,1578_38_2021_2
5050,91109,2021,38,Rayo Vallecano,Leganés,6382798,6382791,2080,1535,RAY,...,12.0,43,36,7.0,37,7,wlddl,2021.0,2.0,2080_38_2021_2
5051,91105,2021,38,Real Sporting,Lugo,6382800,6382793,2125,1598,SPO,...,9.0,35,25,10.0,37,5,llldd,2021.0,2.0,2125_38_2021_2

In [88]:
df5.columns

Index(['match_id', 'year_x', 'round_x', 'local', 'visitor', 'team1_id_season',
       'team2_id_season', 'team1_id', 'team2_id', 'local_abbr', 'visitor_abbr',
       'division_x', 'local_goals', 'visitor_goals', 'result', 'winner',
       'key_local', 'key_visitor', 'id', 'team', 'points', 'wins', 'draws',
       'losses', 'gf', 'ga', 'avg', 'round_y', 'pos', 'form', 'year_y',
       'division_y', 'key'],
      dtype='object')

In [89]:
df5 = df5.drop(['year_y', 'round_y', 'division_y', 'id', 'key', 'team' ], axis = 1)
df5 = df5.rename(columns={'year_x':'year', 'round_x':'round', 'division_x':'division'})

In [90]:
df5

,match_id,year,round,local,visitor,team1_id_season,team2_id_season,team1_id,team2_id,local_abbr,...,key_visitor,points,wins,draws,losses,gf,ga,avg,pos,form
0,37429,2016,1,Málaga,Sevilla,214628,214624,1617,1102,MAL,...,1102_1_2016_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,37433,2016,1,Deportivo,R. Sociedad,214634,214631,901,2120,DEP,...,2120_1_2016_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,37432,2016,1,Espanyol,Getafe,214629,214633,998,1217,ESP,...,1217_1_2016_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,37437,2016,1,Atlético,Las Palmas,214622,218388,369,2563,ATM,...,2563_1_2016_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,37430,2016,1,Rayo Vallecano,Valencia,214630,214623,2080,2647,RAY,...,2647_1_2016_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5047,91110,2021,38,Real Oviedo,Sabadell,6382799,6382802,2115,2198,ROV,...,2198_38_2021_2,44,9.0,17.0,11.0,38,38,0.0,14,ldwld
5048,91104,2021,38,FC Cartagena,CD Castellón,6382787,6382788,643,673,CAR,...,673_38_2021_2,39,9.0,12.0,16.0,36,47,-11.0,20,wddwl
5049,91112,2021,38,UD Logroñés,Girona,6382792,6391868,1578,1236,UDL,...,1236_38_2021_2,41,10.0,11.0,16.0,25,43,-18.0,17,wwdld
5050,91109,2021,38,Rayo Vallecano,Leganés,6382798,6382791,2080,1535,RAY,...,1535_38_2021_2,57,16.0,9.0,12.0,43,36,7.0,7,wlddl
5051,91105,2021,38,Real Sporting,Lugo,6382800,6382793,2125,1598,SPO,...,1598_38_2021_2,58,15.0,13.0,9.0,35,25,10.0,5,llldd

In [91]:
df6 = df5.dropna()
df6

,match_id,year,round,local,visitor,team1_id_season,team2_id_season,team1_id,team2_id,local_abbr,...,key_visitor,points,wins,draws,losses,gf,ga,avg,pos,form
10,37467,2016,2,Villarreal,Espanyol,214625,214629,2716,998,VIL,...,998_2_2016_1,1,0.0,1.0,0.0,1,1,0.0,7,d
11,37471,2016,2,R. Sociedad,Real Sporting,214631,214619,2120,2125,RSO,...,2125_2_2016_1,1,0.0,1.0,0.0,0,0,0.0,10,d
12,37463,2016,2,Barcelona,Málaga,214620,214628,429,1617,FCB,...,1617_2_2016_1,3,1.0,0.0,0.0,1,0,1.0,4,w
13,37457,2016,2,Celta,Rayo Vallecano,214627,214630,712,2080,CEL,...,2080_2_2016_1,3,1.0,0.0,0.0,2,1,1.0,2,w
14,37469,2016,2,Real Madrid,Real Betis,214621,214618,2107,486,RMA,...,486_2_2016_1,1,0.0,1.0,0.0,0,0,0.0,12,d
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5047,91110,2021,38,Real Oviedo,Sabadell,6382799,6382802,2115,2198,ROV,...,2198_38_2021_2,44,9.0,17.0,11.0,38,38,0.0,14,ldwld
5048,91104,2021,38,FC Cartagena,CD Castellón,6382787,6382788,643,673,CAR,...,673_38_2021_2,39,9.0,12.0,16.0,36,47,-11.0,20,wddwl
5049,91112,2021,38,UD Logroñés,Girona,6382792,6391868,1578,1236,UDL,...,1236_38_2021_2,41,10.0,11.0,16.0,25,43,-18.0,17,wwdld
5050,91109,2021,38,Rayo Vallecano,Leganés,6382798,6382791,2080,1535,RAY,...,1535_38_2021_2,57,16.0,9.0,12.0,43,36,7.0,7,wlddl
5051,91105,2021,38,Real Sporting,Lugo,6382800,6382793,2125,1598,SPO,...,1598_38_2021_2,58,15.0,13.0,9.0,35,25,10.0,5,llldd

In [92]:
df6 = df6.rename(columns = {'points':'points_local', 'wins':'wins_local', 'draws':'draws_local', 'losses':'losses_local', 'gf':'gf_local', 'ga':'ga_local', 'avg':'avg_local', 'pos':'pos_local'})
df6

,match_id,year,round,local,visitor,team1_id_season,team2_id_season,team1_id,team2_id,local_abbr,...,key_visitor,points_local,wins_local,draws_local,losses_local,gf_local,ga_local,avg_local,pos_local,form
10,37467,2016,2,Villarreal,Espanyol,214625,214629,2716,998,VIL,...,998_2_2016_1,1,0.0,1.0,0.0,1,1,0.0,7,d
11,37471,2016,2,R. Sociedad,Real Sporting,214631,214619,2120,2125,RSO,...,2125_2_2016_1,1,0.0,1.0,0.0,0,0,0.0,10,d
12,37463,2016,2,Barcelona,Málaga,214620,214628,429,1617,FCB,...,1617_2_2016_1,3,1.0,0.0,0.0,1,0,1.0,4,w
13,37457,2016,2,Celta,Rayo Vallecano,214627,214630,712,2080,CEL,...,2080_2_2016_1,3,1.0,0.0,0.0,2,1,1.0,2,w
14,37469,2016,2,Real Madrid,Real Betis,214621,214618,2107,486,RMA,...,486_2_2016_1,1,0.0,1.0,0.0,0,0,0.0,12,d
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5047,91110,2021,38,Real Oviedo,Sabadell,6382799,6382802,2115,2198,ROV,...,2198_38_2021_2,44,9.0,17.0,11.0,38,38,0.0,14,ldwld
5048,91104,2021,38,FC Cartagena,CD Castellón,6382787,6382788,643,673,CAR,...,673_38_2021_2,39,9.0,12.0,16.0,36,47,-11.0,20,wddwl
5049,91112,2021,38,UD Logroñés,Girona,6382792,6391868,1578,1236,UDL,...,1236_38_2021_2,41,10.0,11.0,16.0,25,43,-18.0,17,wwdld
5050,91109,2021,38,Rayo Vallecano,Leganés,6382798,6382791,2080,1535,RAY,...,1535_38_2021_2,57,16.0,9.0,12.0,43,36,7.0,7,wlddl
5051,91105,2021,38,Real Sporting,Lugo,6382800,6382793,2125,1598,SPO,...,1598_38_2021_2,58,15.0,13.0,9.0,35,25,10.0,5,llldd

In [93]:
df7 = df6.merge(df4, how = 'left', left_on = 'key_visitor', right_on = 'key' )
df7.columns

Index(['match_id', 'year_x', 'round_x', 'local', 'visitor', 'team1_id_season',
       'team2_id_season', 'team1_id', 'team2_id', 'local_abbr', 'visitor_abbr',
       'division_x', 'local_goals', 'visitor_goals', 'result', 'winner',
       'key_local', 'key_visitor', 'points_local', 'wins_local', 'draws_local',
       'losses_local', 'gf_local', 'ga_local', 'avg_local', 'pos_local',
       'form_x', 'id', 'team', 'points', 'wins', 'draws', 'losses', 'gf', 'ga',
       'avg', 'round_y', 'pos', 'form_y', 'year_y', 'division_y', 'key'],
      dtype='object')

In [94]:
df7 = df7.rename(columns = {'points':'points_visitor', 'wins':'wins_visitor', 'draws':'draws_visitor', 'losses':'losses_visitor', 'gf':'gf_visitor', 'ga':'ga_visitor', 'avg':'avg_visitor', 'pos':'pos_visitor', 'year_x':'year', 'round_x':'round', 'division_x':'division'})
df7

,match_id,year,round,local,visitor,team1_id_season,team2_id_season,team1_id,team2_id,local_abbr,...,losses_visitor,gf_visitor,ga_visitor,avg_visitor,round_y,pos_visitor,form_y,year_y,division_y,key
0,37467,2016,2,Villarreal,Espanyol,214625,214629,2716,998,VIL,...,0.0,1,0,1.0,1,5,w,2016,1,998_2_2016_1
1,37471,2016,2,R. Sociedad,Real Sporting,214631,214619,2120,2125,RSO,...,0.0,0,0,0.0,1,13,d,2016,1,2125_2_2016_1
2,37463,2016,2,Barcelona,Málaga,214620,214628,429,1617,FCB,...,0.0,0,0,0.0,1,9,d,2016,1,1617_2_2016_1
3,37457,2016,2,Celta,Rayo Vallecano,214627,214630,712,2080,CEL,...,0.0,0,0,0.0,1,11,d,2016,1,2080_2_2016_1
4,37469,2016,2,Real Madrid,Real Betis,214621,214618,2107,486,RMA,...,0.0,1,1,0.0,1,6,d,2016,1,486_2_2016_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4921,91110,2021,38,Real Oviedo,Sabadell,6382799,6382802,2115,2198,ROV,...,15.0,35,42,-7.0,37,19,lddww,2021,2,2198_38_2021_2
4922,91104,2021,38,FC Cartagena,CD Castellón,6382787,6382788,643,673,CAR,...,18.0,35,43,-8.0,37,18,wlwdd,2021,2,673_38_2021_2
4923,91112,2021,38,UD Logroñés,Girona,6382792,6391868,1578,1236,UDL,...,11.0,39,34,5.0,37,6,wlwww,2021,2,1236_38_2021_2
4924,91109,2021,38,Rayo Vallecano,Leganés,6382798,6382791,2080,1535,RAY,...,11.0,41,31,10.0,37,4,wldwd,2021,2,1535_38_2021_2
4925,91105,2021,38,Real Sporting,Lugo,6382800,6382793,2125,1598,SPO,...,16.0,32,49,-17.0,37,21,lllld,2021,2,1598_38_2021_2

In [95]:
df7.columns

Index(['match_id', 'year', 'round', 'local', 'visitor', 'team1_id_season',
       'team2_id_season', 'team1_id', 'team2_id', 'local_abbr', 'visitor_abbr',
       'division', 'local_goals', 'visitor_goals', 'result', 'winner',
       'key_local', 'key_visitor', 'points_local', 'wins_local', 'draws_local',
       'losses_local', 'gf_local', 'ga_local', 'avg_local', 'pos_local',
       'form_x', 'id', 'team', 'points_visitor', 'wins_visitor',
       'draws_visitor', 'losses_visitor', 'gf_visitor', 'ga_visitor',
       'avg_visitor', 'round_y', 'pos_visitor', 'form_y', 'year_y',
       'division_y', 'key'],
      dtype='object')

In [96]:
df7 = df7.drop(['year_y', 'round_y', 'division_y', 'id', 'key', 'team', 'key_local', 'key_visitor' ], axis = 1)

In [97]:
#Crear diccionario aqui que contenga los identificadores y las abreviaturas de cada equipo

#We create a a dictionary for the IDs & the abbreviatures of each team.

In [61]:
#df_dict = df2.drop(['id', 'year', 'round', 'visitor', 'league_id',
       #'team2', 'dteam2', 'visitor_abbr',
       #'competition_name', 'competition_id', 'group_code', 'coef', 'date',
       #'local_goals', 'visitor_goals', 'result', 'winner'] , axis = 1 )
#df_dict = df_dict.reset_index(drop=True)
#df_dict

In [62]:
#team_abbreviatures = df_dict.set_index('local').T.to_dict('Diccionario_abreviaturas')
#team_abbreviatures

## Creating target categorical variable

In [53]:
def match_result(col):
    if col['team1_id_season'] == col['winner']:
        return 0
    if col['team2_id_season'] == col['winner']:
        return 2
    if col['winner'] == 0:
        return 1

df7['match_result'] = df7.apply(lambda col: match_result (col),axis=1)
df7

KeyError: 'team1_id_season'

From now we will always associate in our Output variable, 'match_result', a local win to number 0, a draw with number 1 and a visitor win with number 2.

In [47]:
#Una vez creado el diccionario y la variable categorica eliminamos mas columnas
df7 = df7.drop(['local','visitor','team1_id_season', 'team2_id_season','local_abbr', 'visitor_abbr','match_id', 'year','result', 'round', 'division','winner'], axis = 1)

## Data Graphics

In [48]:
df7 = df7.rename(columns = {'form_x':'form_local','form_y':'form_visitor'})

In [49]:
df7.columns

Index(['team1_id', 'team2_id', 'local_goals', 'visitor_goals', 'points_local',
       'wins_local', 'draws_local', 'losses_local', 'gf_local', 'ga_local',
       'avg_local', 'pos_local', 'form_local', 'points_visitor',
       'wins_visitor', 'draws_visitor', 'losses_visitor', 'gf_visitor',
       'ga_visitor', 'avg_visitor', 'pos_visitor', 'form_visitor',
       'match_result'],
      dtype='object')

In [50]:
df_graphics = df7.drop(['team1_id', 'team2_id'], axis = 1)
df_graphics.columns

Index(['local_goals', 'visitor_goals', 'points_local', 'wins_local',
       'draws_local', 'losses_local', 'gf_local', 'ga_local', 'avg_local',
       'pos_local', 'form_local', 'points_visitor', 'wins_visitor',
       'draws_visitor', 'losses_visitor', 'gf_visitor', 'ga_visitor',
       'avg_visitor', 'pos_visitor', 'form_visitor', 'match_result'],
      dtype='object')

In [51]:
correlation = df_corr.astype(int).corr()
correlation

NameError: name 'df_corr' is not defined

In [ ]:
f = plt.figure(figsize=(14, 10))
plt.matshow(correlation, fignum=f.number)
plt.xticks(range(correlation.shape[1]), correlation.columns, fontsize=14, rotation = 90)
plt.yticks(range(correlation.shape[1]), correlation.columns, fontsize=14)
cb = plt.colorbar()

In [ ]:
#Comentar aqui la correlacion entre las variables de entrada

In [ ]:
#Correlation with output variable
cor_target = abs(correlation["match_result"])
#Selecting highly correlated features
relevant_corr = cor_target[cor_target>0.5]

In [ ]:
cor_target

#Most of the variables have small correlations with the output variable

In [ ]:
relevant_corr

This high correlations unfortunately are not useful for our model, as they correspond to the result that we will know after the match. That is why we realise we should drop these two columns because is information related to the result.

In [ ]:
df_corr = df_corr.drop(['local_goals', 'visitor_goals'], axis = 1)
df_corr

#### Continue plotting

In [ ]:
#plt.boxplot(scaled[:,0], vert = False)
#plt.title('Boxplot de emisiones de hidrocarburos (normalizado)')
#plt.plot()

In [ ]:
#from sklearn.preprocessing import OneHotEncoder
#encoder = OneHotEncoder(drop=None, sparse=False)
#df_onehot = encoder.fit_transform(df_corr['match_result'])
#print(df_onehot)

Description of values from each input

In [ ]:
df_corr.astype(int).describe()

In [ ]:
plt.hist(df_corr['match_result'], color= 'blue', label = True, rwidth = 1.5)
plt.title('Histogram matches results')
plt.xlabel('Matches results')
plt.ylabel('Absolut frequency')
plt.plot()

In [ ]:
d = np.diff(np.unique(df_corr['match_result'])).min()
left_of_first_bin = df_corr['match_result'].min() - float(d)/2
right_of_last_bin = df_corr['match_result'].max() + float(d)/2
plt.hist(df_corr['match_result'], np.arange(left_of_first_bin, right_of_last_bin + d, d),color= 'blue', label = True, rwidth = 0.5, histtype =  'barstacked' )
plt.plot()

In [ ]:
sns.histplot(df_corr, x="match_result", discrete = True)

The result is reasonable, there are more local wins, and a similar number of draws and visitor wins.

## Creating new columns with lags

In [ ]:
poslocal_t_1 = []
num_retardo = 1
for idx, row in df7.iterrows():
    if idx % 100 == 0:
        print(idx)
    previous = df7[(df7['year'].astype(str) == str(row['year'])) & (df7['division'].astype(str) == str(row['division']))
                   & (df7['team1_id'].astype(str) == str(row['team1_id'])) & (df7['round'].astype(int) == int(row['round']) - num_retardo)] \
                    .reset_index(drop=True)['pos_local']
    
    values = previous.values.tolist()
    if values:
        poslocal_t_1.append(int(values[0]))
    else:
        poslocal_t_1.append(0)

In [ ]:
poslocal_t_3 = []
num_retardo = 3
for idx, row in df7.iterrows():
    if idx % 100 == 0:
        print(idx)
    previous = df7[(df7['year'].astype(str) == str(row['year'])) & (df7['division'].astype(str) == str(row['division']))
                   & (df7['team1_id'].astype(str) == str(row['team1_id'])) & (df7['round'].astype(int) == int(row['round']) - num_retardo)] \
                    .reset_index(drop=True)['pos_local']
    
    values = previous.values.tolist()
    if values:
        poslocal_t_3.append(int(values[0]))
    else:
        poslocal_t_3.append(0)

In [ ]:
poslocal_t_5 = []
num_retardo = 5
for idx, row in df7.iterrows():
    if idx % 100 == 0:
        print(idx)
    previous = df7[(df7['year'].astype(str) == str(row['year'])) & (df7['division'].astype(str) == str(row['division']))
                   & (df7['team1_id'].astype(str) == str(row['team1_id'])) & (df7['round'].astype(int) == int(row['round']) - num_retardo)] \
                    .reset_index(drop=True)['pos_local']
    
    values = previous.values.tolist()
    if values:
        poslocal_t_5.append(int(values[0]))
    else:
        poslocal_t_5.append(0)

In [ ]:
poslocal_t_10 = []
num_retardo = 10
for idx, row in df7.iterrows():
    previous = df7[(df7['year'].astype(str) == str(row['year'])) & (df7['division'].astype(str) == str(row['division']))
                   & (df7['team1_id'].astype(str) == str(row['team1_id'])) & (df7['round'].astype(int) == int(row['round']) - num_retardo)] \
                    .reset_index(drop=True)['pos_local']
    
    values = previous.values.tolist()
    if values:
        poslocal_t_10.append(int(values[0]))
    else:
        poslocal_t_10.append(0)

In [ ]:
posvisitor_t_1 = []
num_retardo = 1
for idx, row in df7.iterrows():
    if idx % 100 == 0:
        print(idx)
    previous = df7[(df7['year'].astype(str) == str(row['year'])) & (df7['division'].astype(str) == str(row['division']))
                   & (df7['team2_id'].astype(str) == str(row['team1_id'])) & (df7['round'].astype(int) == int(row['round']) - num_retardo)] \
                    .reset_index(drop=True)['pos_visitor']
    
    values = previous.values.tolist()
    if values:
        posvisitor_t_1.append(int(values[0]))
    else:
        posvisitor_t_1.append(0)

In [ ]:
posvisitor_t_3 = []
num_retardo = 3
for idx, row in df7.iterrows():
    if idx % 100 == 0:
        print(idx)
    previous = df7[(df7['year'].astype(str) == str(row['year'])) & (df7['division'].astype(str) == str(row['division']))
                   & (df7['team2_id'].astype(str) == str(row['team1_id'])) & (df7['round'].astype(int) == int(row['round']) - num_retardo)] \
                    .reset_index(drop=True)['pos_visitor']
    
    values = previous.values.tolist()
    if values:
        posvisitor_t_3.append(int(values[0]))
    else:
        posvisitor_t_3.append(0)

In [ ]:
posvisitor_t_5 = []
num_retardo = 5
for idx, row in df7.iterrows():
    previous = df7[(df7['year'].astype(str) == str(row['year'])) & (df7['division'].astype(str) == str(row['division']))
                   & (df7['team2_id'].astype(str) == str(row['team1_id'])) & (df7['round'].astype(int) == int(row['round']) - num_retardo)] \
                    .reset_index(drop=True)['pos_visitor']
    
    values = previous.values.tolist()
    if values:
        posvisitor_t_5.append(int(values[0]))
    else:
        posvisitor_t_5.append(0)

In [ ]:
posvisitor_t_10 = []
num_retardo = 10
for idx, row in df7.iterrows():
    previous = df7[(df7['year'].astype(str) == str(row['year'])) & (df7['division'].astype(str) == str(row['division']))
                   & (df7['team2_id'].astype(str) == str(row['team1_id'])) & (df7['round'].astype(int) == int(row['round']) - num_retardo)] \
                    .reset_index(drop=True)['pos_visitor']
    
    values = previous.values.tolist()
    if values:
        posvisitor_t_10.append(int(values[0]))
    else:
        posvisitor_t_10.append(0)

In [ ]:
df7['poslocal_retardo_1'] = poslocal_t_1
df7['poslocal_retardo_3'] = poslocal_t_3
new_df7 = df7[df7['poslocal_retardo_1'] != 0].reset_index(drop=True)
new_df7

In [ ]:
new_df7 = df7[df7['poslocal_retardo_1'] != 0].reset_index(drop=True)
new_df7

In [ ]:
df7

NameError: name 'matches_request' is not defined